extends base

block content
  main.main
    .login-form
      h2.heading-secondary Forgot your password?
      form(id='forgot-form' method='POST', action='api/v1/users/forgotPassword')
        .form__group
          label(for='email') Email
          input#email(type='email', name='email', required)
        .form__group
          button.btn--green(type='submit') Send reset link
